* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #c2fffe;
}

html {
    font-size: 10px;
}

form {
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

input {
    margin-bottom: 20px;
    padding: 16px 24px;
    width: min(400px, 100%);

    outline: none;
    border: none;
    border-bottom: 1px solid black;
}


select {
    width: 200px;
    padding: 8px 16px;

    margin-top: 20px;
    margin-bottom: 10px;
}

#result {
    font-size: 2.2rem;
}